h1 {
  color: #4a235a;
}

h2 {
  color: #6c3483;
}

h3 {
  color: #8e44ad;
}

a {
  color: #3498db;
}

.inverse {
  background: #272822;
  color: #777872;
}

.inverse h1, .inverse h2 {
  color: #a3e4d7;
  line-height: 0.8em;
}

.background h1 {
  color: #e8daef;
}

.left-column20 {
  width: 20%;
  float: left;
}

.left-column30 {
  width: 30%;
  float: left;
}

.left-column40 {
  width: 40%;
  float: left;
}

.left-column50 {
  width: 50%;
  float: left;
}

.left-column60 {
  width: 60%;
  float: left;
}

.left-column70 {
  width: 70%;
  float: left;
}

.left-column80 {
  width: 80%;
  float: left;
}

.right-column20 {
  width: 20%;
  float: right;
}

.right-column30 {
  width: 30%;
  float: right;
}

.right-column40 {
  width: 40%;
  float: right;
}

.right-column50 {
  width: 50%;
  float: right;
}

.right-column60 {
  width: 60%;
  float: right;
}

.right-column70 {
  width: 70%;
  float: right;
}

.right-column80 {
  width: 80%;
  float: right;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 14px;
  color: #505050;
}
.footnote:before {
  content: "[";
}
.footnote:after {
  content: "]";
}

.emph {
  background-color: #c8deff;
}

.remark {
  color: #8e44ad;
  font-style: italic;
}

.quote {
  color: #ff0000;
  font-style: italic;
  font-size: 30px;
}

.cite {
  font-size: 14px;
  color: #505050;
}
.cite:before {
  content: "[";
}
.cite:after {
  content: "]";
}
